<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2016/03/27/17/59/motorcycle-1283299_960_720.jpg);">
  <div class="container home-content">
    <h1>Spécialisée dans la vente de motos de collection & youngtimers</h1>
    <p>Temps 2 Chauffe propose des machines de qualité, restaurées ou dans un état d'origine exceptionnel.</p>
    <a class="button" href="/motos">Explorer</a>
  </div>
</div>
