<div class="card-trip">
  <img src="https://cdn.pixabay.com/photo/2016/03/27/17/59/motorcycle-1283299_960_720.jpg" />
  <div class="card-trip-infos">
    <div>
      <p> <%= moto.titre %> </p>
    </div>
  </div>
</div>
