<div class="card-trip">
  <img src="https://cdn.pixabay.com/photo/2016/03/27/17/59/motorcycle-1283299_960_720.jpg" />
  <div class="card-trip-infos">
    <div class="infos justify-content-center space-between">
      <p> <%= moto.marque.upcase %> </p>
      <p> <%= moto.modele.upcase %> </p>
      <p> <%= moto.annee %> </p>
    </div>
  </div>
</div>

