<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/temps2chauffe/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/temps2chauffe"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    Temps 2 Chauffe/Tous droits réservés.
  </div>
</div>