<div class="bar">
  <div class="logo">
    <a href="/">
      <img src="https://static.wixstatic.com/media/6cbd7f_e3f49a168f664a1cb828257f94deba6b~mv2.png/v1/fill/w_365,h_365,al_c,lg_1,q_85/6cbd7f_e3f49a168f664a1cb828257f94deba6b~mv2.webp" /> 
    </a>
  </div>
  <div class="btn-nav">
    <div>
      <%= link_to "MOTOS", motos_path, class:"motos" %>
    </div>
    <div>
      <%= link_to "SERVICES", services_path, class:"services" %>
    </div>
  </div>
</div>




