
<div class="container">
<h1 class="title">Nos Services</h1>
  <div class="card-product">
      <img src="https://static.wixstatic.com/media/6cbd7f_37adff84790042ea801cce04ab0ab410~mv2_d_3568_2368_s_2.jpg/v1/fill/w_519,h_345,al_c,q_80,usm_0.66_1.00_0.01/6cbd7f_37adff84790042ea801cce04ab0ab410~mv2_d_3568_2368_s_2.webp" />
    <div class="card-product-infos">
      <h2>Rénovation Esthétique</h2>
      <p>
        Nous  réalisons le nettoyage et la rénovation des vos autos et motos de collection. Nous n'utilisons que des produits de qualité comme les  marques Belgom et Meguiar's.</br>
        Nous sommes relativement flexibles et nous adaptons aux souhaits de chaque client, du simple nettoyage au traitement de la carrosserie et des  métaux en </br>
        Nous consulter pour un devis.</br>
      </p>
    </div>
  </div>

  <div class="card-product mt-5">
    <div class="card-product-infos">
      <h2>Transport</h2>
      <p>
        Vous souhaitez acquérir la machine de vos rêves, mais vous n'avez ni le temps ni les moyens matériels pour venir la chercher?</br>
        Aucun problème, nous avons la solution!</br>
        Nous travaillons avec une société uniquement spécialisée dans le transport moto, qui pourra amener votre nouvelle acquisiton où vous le souhaitez en France, et ce en toute sécurité.
        Les motos sont acheminées jusqu'au dépôt de transport où elles sont ensuite placées sur des boxs individuels amovibles. Un état des lieux de la moto est réalisé, puis elle embarque dans un camion jusqu'à chez vous!</br>
      </p>
    </div>
      <img src="https://static.wixstatic.com/media/6cbd7f_d2817fbf5e3444bcb410700f1cfdfbb3~mv2_d_1632_1224_s_2.jpg/v1/fill/w_430,h_305,al_c,q_80,usm_0.66_1.00_0.01/6cbd7f_d2817fbf5e3444bcb410700f1cfdfbb3~mv2_d_1632_1224_s_2.webp" />
  </div>
</div>
