.title{
  text-align: center;
  font-family: 'Roboto';
  font-weight: bold;
  color: #163d76;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 300px;
  margin: 20px;
  text-decoration: none;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip p {
  margin: auto;
  text-align: center;
  font-family: 'Roboto';
  font-size: 20px;
}

.card-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-home {
  background-color: white;
  color: black;
  border: solid;
  border-radius: 5px;
  margin: 20px;
  width: 40%;
  height: 300px;
}

.moto-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 15px;
}

.card-img img {
  background-image: cover;
  height: 240px;
  font-size: 16px;
}

.infos {
  text-align: center;
  text-decoration: none;
  color: black;
}