<h1 class="title">STOCK MOTOS</h1>
  <div class="d-flex">
    <div class="display-grid w-50 mr-3 ml-5">
      <% @motos.each do |moto| %>
        <%= link_to moto_path(moto) do %>
          <%= render "shared/cards", moto: moto %>
        <% end %>
      <% end %>
    </div>
  </div>

